<section class="preview">
    <header>
        <div class="assetPath"></div>
        &nbsp; &nbsp; &nbsp;
        <div class="right">
            <div></div>
            <div>
                <ui-input placeholder="i18n:easy-sprite-atlas.search" show-clear="" tabindex="0" class="search"><ui-icon
                        slot="prefix" value="search"></ui-icon></ui-input>
            </div>
        </div>
    </header>

    <section class="container">

    </section>
    <footer><span class="assetUrl">xx</span></footer>
</section>